<div class="row">
<div class="twelvecol last">

<h1>Editing registration</h1>

<%= render 'form' %>

<%= link_to 'Show', [@game, @registration] %> |
<%= link_to 'Back', game_registrations_path(@game) %>

</div>
</div>
