/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/
/*
 *= require bootstrap_and_overrides
 */
/*
 *= require twitter/bootstrap
 */

.skill-info {
    height: 34px;
    font-size: 20px;
    padding-top: 5px
;
}

.skill-controls span {
    margin-left: 0px;
}

.skill-controls input[type='number'] {
    width: 40px;
    height: 20px;
}

.skill-tags .label {
    margin-right: 5px;
    padding: 4px 10px;
}