<div class="row">
  <div class="threecol">&nbsp;</div>

  <div class="sixcol copyright">
    <p>Copyright &copy; 2011 Jeff Homles. Code on 
      <a href="https://github.com/CerberusBen/CDB3">github</a>.</p>
  </div>

  <div class="threecol">&nbsp;</div>
</div>

