<% flash.each do |name, msg| %>
  <div class="alert alert-dismissable alert-<%= name==:alert ? 'danger' : name==:notice ? 'success' : name.to_s%>">
    <a class="close" data-dismiss="alert">×</a>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
<% end %>