<div class="row">
<div class="twelvecol last">

<h1>Editing member</h1>

<%= render 'form' %>

<%= link_to 'Show', [@game, @member] %> |
<%= link_to 'Back', game_members_path(@game) %>

</div>
</div>
